* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preptember-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.preptember-hero h1{
    font-size: 200px;
    font-weight: 1000;
}


.video-info{
    content: "";
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: rgb(166, 0, 160);
    clip-path: polygon(0px 0px, calc(100% - 20px) 0px, 100% 20px, 100% 100%, 20px 100%, 0px calc(100% - 20px)) !important;
}

.preptember-hero{
    background-image: url(./assets/Gold\ COSC\ \(1\).svg) !important;
    background-repeat: no-repeat;
    background-size: 1100px;
}

@media only screen and (max-width:768px){
    .preptember-hero{
        background-size: 800px;
    }
    .video-info-container{
        flex-direction: column;
    }
    .styled-clipped-card::after{
        width: 93.3% !important;
        height: 92.5% !important;
    }
}

@media only screen and (max-width:900px){
    .styled-clipped-card::after{
        width: 93.3% !important;
        height: 92.5% !important;
    }
}

@media only screen and (max-width:1024px){
    .styled-clipped-card::after{
        width: 94.6% !important;
        height: 94.6% !important;
    }
}

.preptember-hero::before{
    top: 0px;
    background: url(./assets/bg-hero-top.svg) ;
}

.preptember-hero-desc{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    margin-top: 5vh;
}

.preptember-island{
    min-height: 100px;
    min-width: 40%;
    text-align: end;
}

.video-info-container{
    border-right: 2px solid #50DA4C !important;
    border-bottom: 2px solid #50DA4C !important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.videos{
    background-image: url(./assets/Group\ 26.svg);
    background-repeat: no-repeat;
    background-size: contain;
}



.styled-clipped-card {
    position: relative;
    width: 100%;
    padding-bottom: 100%; 
    margin-bottom: 30px;
  }
  
  .styled-clipped-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C401C4;
    clip-path: polygon(
      0 0,
      calc(100% - 20px) 0,
      100% 20px,
      100% 100%,
      20px 100%,
      0 calc(100% - 20px)
    );
    z-index: 1;
  }
  
  .styled-clipped-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 95.3%;
    height: 95.3%;
    background-color: beige;
    z-index: 2;
  }


  
  .card-contentt {
    position: absolute;
    top: 0;
    left: 0;
    width: 96.5%;
    height: 96.5%;
    z-index: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .card-contentt img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .card-contentt h1 {
    font-size: 2rem;
    margin-bottom: 5px;
    white-space: normal; /* Allows wrapping */
    overflow: visible; /* Ensures overflow is visible */
    color: #1C1C1C;
    max-width: fit-content; /* Ensures the text wraps within the container */
  }
  
  
  .card-contentt p {
    font-size: 0.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #1C1C1C;
  }

  .section-separator {
    margin-top: auto;
    position: relative;
    width: 100%;
    overflow: hidden; /* Ensure no overflow from the SVG */
  }
  
  .section-separator svg {
    display: block;
    width: 100%;
    height: auto; /* Maintain aspect ratio */
  }

  .binary-digits {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  
  
  .binary-digits.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
  }
  
  .binary-digits.top {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
  
  .links{
    background-image: url(./assets/Group\ 35\ \(1\).svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .list-disc li{
    margin-top: 10px;
  }



  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #FFF;
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg );
    border-color: #50DA4C;
  }
  
  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }
  
  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
  }